<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500332851657-f4jaimvp0vlduaea1ntia29cpqq0gm8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500332851657-f4jaimvp0vlduaea1ntia29cpqq0gm8v</string>
	<key>API_KEY</key>
	<string>AIzaSyAFsUzRp8fmpVWJNDQMvt4UwdK8B_QTJrg</string>
	<key>GCM_SENDER_ID</key>
	<string>500332851657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChakLee.Buy-What-Again-Simple-Shopping-List</string>
	<key>PROJECT_ID</key>
	<string>buy-what-again</string>
	<key>STORAGE_BUCKET</key>
	<string>buy-what-again.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500332851657:ios:78004f1e94f0b41c</string>
	<key>DATABASE_URL</key>
	<string>https://buy-what-again.firebaseio.com</string>
</dict>
</plist>